<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <property name="hibernate.connection.url">
      jdbc:mysql://localhost:2280/amkfkanta
   </property>
   <property name="hibernate.connection.username">
      olso
   </property>
   <property name="hibernate.connection.password">
      olso
   </property>
   <property name="hbm2ddl.auto">validate</property>
   <property name="show_sql">true</property>
   <mapping class="projdem.Käyttäjä"/>
   <mapping class="projdem.Luonteenpiirre"/>
   <mapping class="projdem.Mielenkiinto"/>
   <mapping class="projdem.Koulutus"/>
   <mapping class="projdem.Pääaine"/>
   <mapping class="projdem.Koulu"/>
   <mapping class="projdem.Kampus"/>
   <mapping class="projdem.Kaupunki"/>

</session-factory>
</hibernate-configuration>